{% extends "master.html.twig" %}

{% block headextra %}
   <script>
        

    </script>

{% endblock %}
{% block searchbar %}
    <!-- Search Bar with "searchbar-init" class for auto initialization -->
    <form class="searchbar">
        <div class="searchbar-input">
                 <input type="text" name="term" id="search_text" placeholder="Search by Customer Details" class="form-control" />
            <a href="#" class="searchbar-clear"></a>
        </div>
    </form>

    

    <div class="page-content" id="result">
        <div class="content-block">
            Nothing found
        </div>

        <div class="list-block">
            <!-- List View -->
            <div class="content-block-title">Price List</div>
            <ul>
                <div class="list-block" id="itemsView">
                    {% for p in list %}

                        <li>
                             <a href="/price/view/{{p.priceId}}" class="external">
                            
                                <div class="item-inner">
                                    
                                    <div class="item-title">&nbsp;{{p.productName}}</div>
                                    <div class="item-after">${{p.price}} /{{p.quantity}} {{p.unit}}&nbsp</div>
                                    <div class="item-subtitle">{{p.storeName}}</div>

                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </div>
            </ul>
        </div>
        {# creates white space at bottom of screen #}
        <div class="content-block">&nbsp;</div>
    </div>

{% endblock %}


{% block content %}

{% endblock %}

{% block scriptextra %}
    <script>
            $(document).ready(function() {
                $('input[name=term]').bind("propertychange change click keyup input paste", function() {
                    // AJAX request
                    var term = $('input[name=term]').val();
                    $('#result').load('/price/search/' + term);
                });
            });
        </script>
    {% endblock %}