{% extends "master.html.twig" %}

{% block overlayTitle %}Price List{% endblock %}

{% block content %}
    
    <div class="content-block">
        <a href='/pricehub/priceadd' class='button button-big button-fill'>Add a Price</a>
    </div>
    <div class="list-block accordion-list">
  <ul>
    {% for p in list %}
         
    <li class="accordion-item"><a href="#" class="item-content item-link">
        <div class="item-inner">
             
          <div class="item-title">{{pName}}</div>
          <div class="item-after">{{p.price}} / {{p.unit}}</div>
          <div class="item-content">
           <div class="item-subtitle">{{sName}}</div>
          </div>
        </div>
        </a>
      <div class="accordion-item-content">
        <div class="content-block">
              <div class="content-block">
<div class="row">
  <div class="col-50">
    <a href="/price/edit/{{p.id}}" class="button button-fill button-big button-green external"><i class="f7-icons">compose</i></a>
  </div>
  <div class="col-50">
    <a href="/price/delete/{{p.id}}" class="button button-fill button-big button-red external"><i class="f7-icons">trash</i></a>
  </div>
</div>  
    </div>
        </div>
      </div>
    </li>
 
    {% endfor %}
      </ul>
</div>
{% endblock %}


 