{% extends "master.html.twig" %}
{% block title %}{{p.name}} Page{% endblock %}
{% block headextra %}
    <style>
        #map{
            height: 12em;
        }
    </style>
{% endblock %}
{% block content %}
  {#  {% for s in store %}  #}
   
 
       
    
<div class="card">
     <div class="card-header">{{p.prodName}}</div>
  <img src="{{p.picPath}}" style="width:100%; height:100%;">
  <div class="card-content">
    <div class="card-content-inner">
        <p class="color-gray">Added by {{p.username}}</p>
        <p>Barcode: {{p.barcode}}</p>
        <p>Comment: {{p.comment}}</p>
      {# TODO ADD link to prices page WHERE productId={{p.id}} #}
      <p class="buttons-row">
  <a href="#" class="button button-big ripple-yellow button-fill">{{price}} {% if price > 1 %}Prices{% elseif price < 0 %}Prices{% else %}Price{% endif %}</a>
</p>
    </div>
  </div>
  <div class="card-footer">
    <a href="/products/list" class="link external">Store list</a>
    <a href="/products/edit/{{p.id}}" class="link external">Update</a>
    <a href="/products/delete/{{p.id}}" class="link  external">Delete</a>
  </div>
</div>

   {# {% endfor %}  #}
    
    {% endblock %}
