{% extends "master.html.twig" %}
 {% block title %}Store List{% endblock %}
{% block content %}
                                                          
<!-- List View -->
<div class="content-block-title">Store List</div>
<div class="list-block accordion-list">
  <ul>
      {% for l in list %}
    <li class="accordion-item"><a href="#" class="item-content item-link">
        <div class="item-inner">
          <div class="item-title">{{l.name}}</div>
        </div></a>
      <div class="accordion-item-content">
        <div class="content-block">    
            <div class="row">
                <div class="col-33">
                   <a href="/stores/view/{{l.id}}" class="external button button-big button-fill button-raised color-cyan">View</a>
                </div>
                 <div class="col-33">
                   <a href="/stores/edit/{{l.id}}" class="external button button-big button-fill button-raised color-cyan">Update</a>
                </div>
            {# <form method="post"  action="/stores/delete/{{l.id}}" >
                <input type="hidden" name="confirmed" value="true"> #}
                <div class="col-33"> 
                    <a href="/stores/delete/{{l.id}}" class="button button-big button-fill button-raised color-pink external">Delete</a>
               </div>
           {# </form> #}
            </div>
        </div>
      </div>
    </li>
    {% else %}
                            
                        {% endfor %}
  </ul>
</div>
          
{% endblock %}